/*********************************
** BUTTONS
**
** Reset
**
*********************************/

/**
 * RESET
 */

[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button
{
    box-sizing: content-box;

    cursor: pointer;
    transition: all, $baseAnimationDuration;

    outline: none;
}

/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button
{
    /* cursor: default; */
    font: inherit;
    line-height: normal;

    overflow: visible;

    padding: 0;

    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;

    color: inherit;
    border: 0;
    background: none;

    -webkit-appearance: button; /* for input */
}
input::-moz-focus-inner,
button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Make `a` like a button */
[role='button']
{
    display: inline-block;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    text-align: center;
    white-space: pre;
    text-decoration: none;

    color: inherit;
}

.c-btn
{
    font-size: .875em;
    line-height: 1.2;

    position: relative;

    display: inline-block;

    box-sizing: border-box;

    transition-duration: $baseAnimationDuration;
    transition-property: color, background-color, box-shadow;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    @media (max-width: 768px)
    {
        display: block;

        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    strong
    {
        font-weight: normal;

        color: #68aa82;
    }
    /**
   * PRIMARY
   */
    &--primary
    {
        font-size: 1.125em;

        padding: 1.625rem 3.75rem;

        color: $brand-primary;
        border-radius: 33px;
        background-color: #fff;
        box-shadow: 0 1px 30px rgba(0, 0, 0, .15);
        // color: $brand-primary;
        &:hover,
        &:active,
        &:focus
        {
            color: #a4a4a4;
        }
    }
    &--arrow
    {
        font-size: .875em;

        padding: 18px 10px 17px 10px;

        color: #a4a4a4;

        @media (max-width: 768px) {
          padding: 21px 75px 20px 10px;
        }
        &:before,
        &:after
        {
            position: absolute;
            top: 1px;
            right: 0;
            bottom: 1px;

            width: 65px;

            content: '';

            border-radius: 33px;
        }
        &:after
        {
            transition-duration: $baseAnimationDuration;
            transition-property: color, background-color, box-shadow;
            text-align: center;
            vertical-align: middle;

            color: #dd3d23;
            background-color: #fff;
            box-shadow: 0 1px 20px rgba(0, 0, 0, .15);
        }
        &:before
        {
            z-index: 2;

            background: svg-url('<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.7 109"><title>arrow</title><path fill="#e50329" d="M79.49,59.39,35.18,9.74a5.44,5.44,0,0,0-7.31-.62A4.63,4.63,0,0,0,27.2,16L68.74,62.5,27.2,109a4.64,4.64,0,0,0,.67,6.83,5.44,5.44,0,0,0,7.31-.62L79.49,65.61a4.6,4.6,0,0,0,0-6.22Z" transform="translate(-26 -8)"/></svg>') no-repeat center center / 12px 22px;
        }
        &:hover,
        &:active,
        &:focus
        {
            &:before
            {
                background: svg-url('<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.7 109"><title>arrow</title><path fill="#fff" d="M79.49,59.39,35.18,9.74a5.44,5.44,0,0,0-7.31-.62A4.63,4.63,0,0,0,27.2,16L68.74,62.5,27.2,109a4.64,4.64,0,0,0,.67,6.83,5.44,5.44,0,0,0,7.31-.62L79.49,65.61a4.6,4.6,0,0,0,0-6.22Z" transform="translate(-26 -8)"/></svg>') no-repeat center center / 12px 22px;
            }
            &:after
            {
                color: #fff;
                background-color: #e50329;
                background-image: linear-gradient(to top, #e31948 0%, #e75f49 100%);
            }
        }
    }
    &--brand
    {
        font-size: 18px;

        padding: 26px 3.75rem;

        color: #fff;
        border-radius: 36px;
        background-color: #e50329;
        background-image: linear-gradient(to top, #e31948 0%, #e75f49 100%);
        &:hover,
        &:active,
        &:focus
        {
            color: $brand-primary;
            border-radius: 33px;
            background-color: #fff;
            background-image: none;
            box-shadow: 0 1px 30px rgba(0, 0, 0, .15);
        }
        @media (max-width:768px)
        {
            font-size: 17px;
        }
    }
    &--brand-invert
    {
        color: $brand-primary;
        border-radius: 36px;
        background: none;
        box-shadow: 0 1px 30px rgba(0, 0, 0, .15);
        &:hover,
        &:active,
        &:focus
        {
            color: #fff;
            border-radius: 33px;
            background-color: #e50329;
            background-image: linear-gradient(to top, #e31948 0%, #e75f49 100%);
        }
    }
    &--accent
    {
        padding: 9px 19px;

        color: $brand-accent;
        border: 1px solid #93d9ae;
        border-radius: 20px;
        // mb
        // font-size: 14px;
        &:hover,
        &:active,
        &:focus,
        &.is-active
        {
            color: #fff;
            background-color: $brand-accent;
        }
    }
    &--block
    {
        display: block;

        width: 380px;
        margin: 0 auto;
        @media (max-width:768px)
        {
            width: 100%;
        }
    }
}
