// VARIABLES
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Ulmart theme.


$gray-base: #000;
$gray-darker: #5f5f5f;
$gray-ligther: #a1a1a1;
$gray-light: #efefef;



$brand-primary: #df482f;
$brand-secondary: #008fd5;
$brand-success: #30ab80;
$brand-accent: #68aa82;

// uses in stripes

// _______________ color carantin

$font-family-sans-serif:  Arial, Helvetica, sans-serif;
$headings-font-family:  'PF Beau Sans Pro', Arial, Helvetica, sans-serif;

$line-height-base: 1.2;

$font-size-base: 16px;
// classic fz for web
$font-size-el-clasico: 13px;
$font-size-large: 16px;
$font-size-small: 12px;
$font-size-extra-small: 10px;


$font-size-h1: 3em;
$font-size-h2: 2em;
$font-size-h3: 1.375em;


// Hover effects, fading, scaling
$baseAnimationDuration: .2s;

// Hover effects offer/tag
$baseBoxShadow: 0 5px 15px #b8c0c4;

