// NOTEBOOK SECTION
.l-note
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    margin: 0 auto;
    padding-bottom: 50px;

    text-align: center;

    background-color: #fafafa;
    @media (max-width: 780px)
    {
        // display: none;
        padding-bottom: 20px;
    }
    &:before
    {
        font-family: $headings-font-family;
        font-size: 175px;
        font-weight: 700;

        position: absolute;
        top: 15%;
        left: 50%;

        content: 'Ноутбуки';
        transform: translate(-50%, -15%);
        text-transform: uppercase;

        color: #e4e4e4;
        @media (max-width: 1200px)
        {
            //fb to opera mini
            font-size: 60px;
            font-size: 14.5vw;

            top: 80px;
        }
    }
    &__wrapper
    {
        position: relative;
        z-index: 2;

        max-width: 1900px;

        flex: 1;
    }
}

#note-cta
{
    width: 370px;
}


// NOTEBOOK SLIDER
.c-slider
{
    display: flex;

    margin-bottom: 40px;
    padding-top: 50px;

    text-align: left;
    @media(max-width: 768px)
    {
        flex-direction: column;

        margin-bottom: 30px;
        padding-top: 0;
    }
    &__list
    {
        box-sizing: border-box;
        max-width: 670px;
        margin: -10px -7.5px;
        margin-right: -35px;
        padding-bottom: 80px;
        padding-left: 85px;

        align-self: flex-end;
        @media(max-width: 768px)
        {
            display: flex;

            max-width: none;
            margin: -5px -4px;
            margin-right: 0;
            padding-bottom: 0;
            padding-left: 0;

            order: 2;
            flex-wrap: wrap;
        }
    }
    &__item
    {
        margin: 10px 7.5px;
        @media(max-width: 768px)
        {
            width: auto;
            margin: 5px 4px;
        }
    }
    &__thumb
    {
        position: relative;
        bottom: 15px;
        left: 10px;

        width: 530px;
        height: 440px;
        a
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            transition: transform .7s,
            opacity .4s;
            transform: translateX(200%);

            opacity: 0;
        }
        a.is-active
        {
            transform: translateX(0);

            opacity: 1;
        }
        img {
            width: auto;
            height: auto;
        }
        .tiny img
        {
            max-height: 450px;
            @media(max-width: 768px)
            {
                max-height: 80%;
            }
        }
        @media(max-width: 768px)
        {
            width: 100%;
            height: 265px;
            img
            {
                position: absolute;
                top: 50%;
                left: 50%;
                // display: none;

                max-width: 100%;
                max-height: 85%;

                transform: translate(-50%, -50%);
            }
        }
    }
}
