// FIRST SCREEN
.l-promo
{
    position: relative;
    // min-height: 55vh;

    padding: 60px 0 0;

    text-align: center;

    color: #fff;
    background: $brand-accent url(https://fast.ulmart.ru/ns/promokv/cobrand2/i/promo-bg.jpg) center center / cover no-repeat;
    @media (max-width:768px)
    {
        padding: 30px 0 0;
    }
    &__body
    {
        animation: fadeIn 2s ease-in-out 1s both;
    }
    &__logo
    {
        margin-bottom: 35px;

        animation: fadeIn 1.8s ease-in-out 1.8s both;
    }
    &__title
    {
        margin-bottom: 20px;
    }
    &__card
    {
        position: relative;
        z-index: 2;

        padding-top: 65px;
        @media(max-width: 768px)
        {
            padding-top: 30px;
        }
    }
    &:after
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 140px;

        content: '';

        background-color: #fafafa;
    }
    @media(max-width: 768px)
    {
        &:after
        {
            height: 60px;
        }
    }
}

