// TOP BAR
.l-topbar
{
    // display: none;
    position: absolute;

    display: flex;

    max-width: 1000px;
    height: 60px;
    margin: 0 auto;
    // transition: opacity $baseAnimationDuration;

    transition: transform $baseAnimationDuration;
    transform: translateY(-100%);
    // opacity: 0;

    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 1px 9.9px .1px rgba(0, 0, 0, .1);

    align-items: center;
    // transform: translateY(-100%);
    @media (max-width: 768px)
    {
        justify-content: center;
    }
    &__logo
    {
        margin-left: 130px;
        img
        {
            display: block;

            max-width: 100%;
            max-height: 60px;
        }
        @media (max-width: 768px)
        {
            margin-right: auto;
            margin-left: 30px;
        }

    }
    &__body
    {
        font-family: $headings-font-family;
        font-size: 1.375em;

        margin: 0 auto;

        color: #595759;

        @media (max-width: 768px)
        {
            display: none;
        }

    }
    &__cta
    {
        position: relative;
        right: -1px;
        .c-btn
        {
            line-height: 60px;

            width: 208px;
            padding: 0 10px;

            text-align: center;
        }
      @media (max-width:768px) {
        .c-btn {
          line-height: 30px;
          font-size: 14px;
          padding-left: 20px;
          padding-right: 20px;
          width: auto;
          margin-right: 20px;
        }
      }
    }
    &.is-sticky
    {
        position: fixed;
        z-index: 99;
        top: 20px;
        right: 10px;
        left: 10px;

        transform: translateY(0);
        // opacity: 1;
    }
    &.is-hidden
    {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 10px;
        left: 10px;
        // transform: translateY(-100%);
    }
}

