/*********************************
** HELPERS CLASESS
** h-selector
*********************************/

.h-img-res
{
    display: block;

    max-width: 100%;
    height: auto;
}

.h-text
{
    &-center
    {
        text-align: center;
    }
    &-right
    {
        text-align: right;
    }
}
.h-block-center
{
    margin: 0 auto;
}

.h-pl
{
    float: left !important;
}
.h-pr
{
    float: right !important;
}

.h-no-padding
{
    padding: 0!important;
}
.h-inline
{
    display: inline-block !important;
}

.h-nowrap {
  white-space: nowrap !important;
}

.h-hide-sm {
  @media (max-width: 768px) {
    display: none;
  }
}
.h-show-sm {
  @media (min-width: 768px) {
    display: none;
  }
}
