/*********************************
** Base styles
*********************************/


html
{
    font-size: $font-size-base;
    @media(max-width: 768px)
    {
        font-size: $font-size-base * .75;
    }
}

body
{
    font-family: $font-family-sans-serif;
    line-height: 1.2;

    min-width: 320px;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: $headings-font-family;
    font-weight: 600;
}

h1,
.h1
{
    font-size: $font-size-h1;
    @media(max-width: 768px)
    {
        font-size: 2em;
    }
}
h2,
.h2
{
    font-size: $font-size-h2;
    line-height: 48px;
    @media (max-width: 768px)
    {
        font-size: 26px;
        line-height: 40px;
    }
}
h3,
.h3
{
    font-size: $font-size-h3;
    line-height: 1.1;
}

.c-sub-h1
{
    font-family: $headings-font-family;
    font-size: 1.375em;

    color: #e6e6e6;
}
a
{
    position: relative;

    transition-duration: $baseAnimationDuration;
    transition-property: color;
    text-decoration: none;

    color: inherit;
    outline: none;
    display: inline-block;
    &:hover
    {
        color: $brand-primary;
    }
    &:focus,
    &:active
    {
        color: $brand-primary;
    }
}

.link
{
    padding-bottom: 1px;

    border-bottom: 1px solid currentColor;
}

ul
{
    padding-left: 20px;
}

strong
{
    font-weight: normal;

    color: $brand-accent;
}

.light
{
    color: #b0b0b0;
}


p {
  margin-top: 0;
}


.nowrap {
  white-space: nowrap;
}
