// Core: variables and mixins
@import 'abstracts/variables';
@import 'abstracts/mixins';
// just template — no need to import
// 'abstracts/svg-sprite-template';
@import 'base/helpers';
@import 'base/svg-sprite';
// // TODO: change font load method
// // to local storage
// @import 'base/fonts';



@font-face
{
    font-family: 'ALSRubl';
    font-weight: normal;
    font-style: normal;

    src: url('https://fast.ulmart.ru/ns/promokv/rouble.woff2') format('woff2'),
    url('https://fast.ulmart.ru/ns/promokv/rouble.woff') format('woff'),
    url('https://fast.ulmart.ru/ns/promokv/rouble.ttf') format('truetype');
}

.rub
{
    font-family: ALSRubl;
    font-style: normal;

    display: inline-block;
}





// CARD
.c-card
{
    position: relative;

    animation: fadeInUp 1.8s ease-out .5s both;
    text-align: center;
    &__thumb
    {
        display: block;

        margin: 0 auto;
        @media (max-width:1200px)
        {
            min-width: 320px;
            max-width: 66%;
            height: auto;
        }
    }
    &__group
    {
        position: relative;
        // z-index: -1;
        left: -70px;

        display: inline-block;
    }
    &__front
    {
        position: relative;
        z-index: 2;
    }
    &__back
    {
        position: absolute;
        z-index: -1;
        top: 55px;
        left: 160px;
    }
    @media(max-width: 768px)
    {
        &__group
        {
            img
            {
                max-width: 100%;
            }
        }
        &:after
        {
            display: none;
        }
    }
}



.l-tiles
{
    margin-top: 10px;
    @media (max-width:780px)
    {
        .col
        {
            padding: 0;
        }
    }
    &__wrapper
    {
        font-size: 0;

        margin: -10px;
    }
    &__cta
    {
        margin-top: 55px;

        text-align: center;
    }
}

// GOODS CARD
.c-tile
{
    font-size: $font-size-base;
    line-height: 1.2;

    position: relative;

    display: inline-flex;
    overflow: hidden;
    flex-direction: column;

    width: 100%;
    max-width: 590px;
    height: 590px;
    margin: 10px;

    background-color: #fafafa;
    // visibility: hidden;
    @media(max-width: 768px)
    {
        font-size: $font-size-base * .75;

        max-width: none;
        height: 360px;
        margin: 0 0 10px;
    }
    &__header
    {
        position: relative;
        z-index: 4;

        margin-bottom: auto;
        padding: 35px 45px;

        text-align: right;
        &:after
        {
            position: absolute;
            right: 45px;
            bottom: 7px;

            width: 60px;
            height: 2px;

            content: '';

            background-color: #68aa82;
        }
        @media(max-width: 768px)
        {
            text-align: center;
            &:after
            {
                position: absolute;
                right: 0;
                left: 0;

                margin: 0 auto;
            }
        }
    }
    &__body
    {
        margin-bottom: 45px;

        text-align: center;
        @media(max-width: 768px)
        {
            padding: 0 10px;
        }
    }
    &__title
    {
        font-family: $headings-font-family;
        font-size: 1.375em;

        margin-bottom: 10px;

        color: #595759;
    }
    &__desc
    {
        color: #a4a4a4;
    }
    &__thumb
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        &.is-top
        {
            top: 0;
            bottom: auto;
        }
        &.is-left-sm
        {
            @media(max-width: 768px)
            {
                img
                {
                    position: absolute;
                    top: 0;
                    left: -20%;
                }
            }
        }
        img
        {
            display: block;

            max-width: 90%;
            margin: 0 auto;
            @media(max-width: 768px)
            {
                max-height: 220px;
            }
        }
    }
    @media (min-width:768px)
    {
        &__header
        {
        }
        .l-tiles .col:nth-child(odd) &__header
        {
            text-align: left;
            &:after
            {
                right: auto;
                left: 45px;
            }
        }
    }
}

// BENEFITS
.l-benefits
{
    @media (max-width: 768px)
    {
        overflow: hidden;
    }
    &__title
    {
        margin-top: 80px;
        margin-bottom: 75px;

        text-align: center;

        color: #595759;
        @media (max-width:768px)
        {
            margin-top: 40px;
            margin-bottom: 10px;
        }
    }
    &__list
    {
        position: relative;
        position: relative;

        max-width: 1000px;
        margin: 0 auto;
        &:after
        {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            content: '';

            background: url('https://fast.ulmart.ru/ns/promokv/cobrand2/i/arrow-bg.png') top center no-repeat;
            @media (max-width:768px)
            {
                display: none;
            }
        }
        .row
        {
            margin-right: -40px;
            margin-left: -40px;
        }
        .col
        {
            padding-right: 40px;
            padding-left: 40px;
        }
        // padding-bottom: 60px;
        // &:after
        // {
        //     position: absolute;
        //     right: 0;
        //     bottom: -2px;
        //     left: 0;
        //     width: 60px;
        //     height: 2px;
        //     margin: 0 auto;
        //     content: '';
        //     background-color: $brand-accent;
        // }
    }
    &__desc
    {
        padding-top: 10px;

        text-align: center;

        color: #595759;
        h3
        {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}



// BENEFIT ITEM
.c-benefit
{
    position: relative;

    text-align: center;
    @media (max-width:768px)
    {
        height: auto;
        margin-bottom: 55px;
    }
    // &:first-child {
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="129.5" height="18.477" viewBox="0 0 129.5 18.47664907494982"><path d="M.5 11.477s50.4-23.46 118-1" fill="none" stroke-dasharray="0" stroke="#eae9e9" stroke-miterlimit="50"/><path d="M121.178 4.347l7.501 13.93-15.809-.47z" fill="#eae9e9"/></svg>') center center no-repeat;
    //     right: -70px;
    //     top: 10px;
    //     width: 130px;
    //     height: 18px;
    //     @media (max-width:768px) {
    //       display: none;
    //     }
    //   }
    // }
    &__icon
    {
        height: 70px;
        margin-bottom: 30px;
        @media (max-width:768px)
        {
            height: auto;
            margin-bottom: 20px;
        }
    }
    &__title
    {
        font-family: $headings-font-family;

        margin-bottom: 10px;

        color: $brand-accent;
    }
    &__desc
    {
        font-size: .875em;
        line-height: 1.3;

        color: #595759;
    }
}

// CTA
.l-cta
{
    padding-bottom: 80px;

    text-align: center;

    color: $brand-accent;

    @include hr;
    @media (max-width:768px)
    {
        padding-bottom: 30px;
    }
    &__title
    {
        margin-top: 0;
        margin-bottom: 30px;
    }
    &__desc
    {
        font-size: 1.375em;
    }
}

// TERMS
.l-terms
{
    &__title
    {
        text-align: center;

        color: #a4a4a4;
        @media (max-width:768px)
        {
            margin-bottom: 10px;
        }
    }
    &__desc
    {
        line-height: 1.375;

        color: #b0b0b0;
    }
}


// FOOTER
.l-footer
{
    padding-top: 15px;
    padding-bottom: 50px;

    text-align: center;

    color: #595759;
    background: url(https://fast.ulmart.ru/ns/promokv/cobrand2/i/gift-left.png) bottom left,
    url(https://fast.ulmart.ru/ns/promokv/cobrand2/i/gift-right.png) bottom right;
    background-repeat: no-repeat;
    @media(max-width: 768px)
    {
        margin-bottom: -20px;
        padding-top: 0;
        padding-bottom: 160px;

        background: url(https://fast.ulmart.ru/ns/promokv/cobrand2/i/gift-sm.png) bottom center no-repeat;
    }
    &__cta
    {
        margin-bottom: 60px;

        text-align: center;
        @media(max-width: 768px)
        {
            margin-bottom: 30px;
        }
    }
}

// SOCIAL


.c-social
{
    font-size: 1.125em;

    width: 250px;
    margin: 0 auto;
    &__title
    {
        margin-bottom: 25px;

        text-align: center;
    }
    &__group
    {
        display: flex;

        align-items: center;
        justify-content: space-between;
    }
    svg
    {
        display: block;

        width: 28px;
        height: auto;
        path
        {
            transition: all, $baseAnimationDuration;

            fill: #b7b7b7;
        }
        &:hover,
        &:active,
        &:focus
        {
            path
            {
                fill: #73ab89;
            }
        }
    }
}


.c-curve
{
    position: relative;
    img
    {
        position: absolute;
        z-index: 4;
    }
    img:first-child
    {
        top: 20px;
        left: 0;
    }
    img:last-child
    {
        top: 30px;
        right: 0;
    }
    @media(max-width: 1120px)
    {
        display: none;
    }
}

.c-gift
{
    position: relative;
    img
    {
        position: absolute;
        bottom: 0;
    }
    img:first-child
    {
        left: 0;
    }
    img:last-child
    {
        right: 0;
    }
}

.wrapper
{
    position: relative;

    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    @media (max-width:768px)
    {
        padding-top: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
    .row
    {
        margin-right: -30px;
        margin-left: -30px;
        @media (max-width:768px)
        {
            margin-right: 0;
            margin-left: 0;
        }
    }
    .col
    {
        padding-right: 30px;
        padding-left: 30px;
        @media (max-width:768px)
        {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.c-curve
{
    @media (max-width:768px)
    {
        display: none;
    }
}


.icon
{
    position: relative;
    // display: none;
    &--choose
    {
        img
        {
            position: relative;
            top: -30px;
            @media (max-width:768px)
            {
                top: 0;
            }
        }
    }
    &--pay
    {
        @media (max-width:768px)
        {
            left: 20px;
        }
    }
}
