include helpers/_global_mixins.jade
include template/_project_mixins
- var array = '';
block vars
doctype
html(lang="ru")
	head
		include template/_head
	body(class='#{array.body_class}')
		block content
		if array.footer == undefined
			include template/_l-footer

	script(src="#{SRC + 'js/font-loader.js' }")
	link(rel="stylesheet", href="#{SRC + 'style/main.css'}")

	script(src="#{SRC + 'js/main.js'}")
