	//- +
	.l-promo
			.l-promo__header
				.c-logo-group
					a.c-logo-group__item.c-logo-group__item--u(href="" target="_blank")
						img(src="#{imgSrc + 'logo-u.png'}", alt="")
					a.c-logo-group__item.c-logo-group__item--qiwi(href="" target="_blank")
						img(src="#{imgSrc + 'qiwi-logo.png'}", alt="")
				h1.l-promo__title Получите #[span.partner 300&nbsp;бонусов] в&nbsp;подарок #[br] при&nbsp;оплате онлайн через&nbsp;#[span.parnter-brand QIWI кошелёк]
				.l-promo__desc 1&nbsp;бонус&nbsp;= 1&nbsp;рубль, оплачивайте ими покупки в&nbsp;Юлмарте
			.l-promo__thumb
				img(src="#{imgSrc + 'macbook.png'}" alt="" width="741" height="422")

	//- +
	mixin step(item)
		.c-step
			.c-step__thumb
				block
			.c-step__title !{item.title}

	mixin prove(item)
		.c-prove
			.c-prove__thumb
				block
			h3.c-prove__title !{item.title}
			.c-prove__desc !{item.desc}

	mixin  term(item)
		.c-term
			.c-term__desc !{item.desc}

	.l-steps
		h2.l-steps__title Как получить подарок?
		.l-steps__group
			+step({
				"title": "Авторизуйтесь <br> на <a href=\"" + ROOT +  "\" target=\"_blank\">ulmart.ru</a>"
			})
				i.icon.icon--auth
			+step({
				"title": "Оформите заказ <br> на сумму от 2 500 Р"
			})
				i.icon.icon--buy
			+step({
				"title": "Оплатите <br> QIWI кошельком <br> <span class='c-step__subtitle'>без комиссии</span>"
			})
				i.icon.icon--pay

		.l-steps__desc Получите #[span.partner 300 бонусов] в&nbsp;подарок и&nbsp;используйте <br> их на&nbsp;следующие покупки в&nbsp;Юлмарте!
		.l-steps__btn
			a.c-btn.c-btn--primary(href="#{ROOT}" target="_blank") За покупками в Юлмарт

	.l-bg
		.l-prove
			.l-container
				.l-prove__header
					h2.l-prove__title
						| Оплата через&nbsp;
						span.h-nowrap.partner QIWI кошелёк
						br
						| в&nbsp;Юлмарте теперь #[span.partner без&nbsp;комиссии]!
					.l-prove__thumb
						img(src="#{imgSrc + 'phone.png'}" alt="" width="140" height="285")

				.l-prove__body
					h3.l-prove__body-title Почему так удобно пользоваться кошельком?
					.l-prove__group
						+prove({
							title: 'Просто',
							desc: 'Пополнить счет можно c&nbsp;терминала, телефона или&nbsp;банковской карты',
						})
							i.icon.icon--easy
						+prove({
							title: 'Легко',
							desc: 'Не нужно запоминать <br> номера счетов и&nbsp;пароли. <br> Достаточно номера телефона',
						})
							i.icon.icon--simple
						+prove({
							title: 'Безопасно',
							desc: 'Ваши платежи&nbsp;через <br> QIWI кошелёк надежно защищены',
						})
							i.icon.icon--safe
				.l-prove__btn
					a.c-btn.c-btn--light(href="#{ROOT}" target="_blank") Вперёд, за покупками!

		//- +

		.l-terms
			.l-container
				h3.l-terms__title Условия акции
				.l-terms__group
					.l-terms__col
						+term({
							"desc": "300 подарочных бонусов начисляются только в случае оплаты заказа на сумму от 2 500 рублей через QIWI кошелёк в период с 03.10.2016 по 03.11.2016."
						})
						+term({
							"desc": "При оформлении заказа необходимо авторизоваться на <a href=\"" + ROOT +  "\" target=\"_blank\">ulmart.ru</a>."
						})
						+term({
							"desc": "Акция действует только для физически лиц – зарегистрированных покупателей Юлмарта. Принять участие в акции можно один раз."
						})
					.l-terms__col
						+term({
							"desc": "Бонусы – XXL-бонусы Юлмарта – начисляются в течение 30 рабочих дней после получения заказа клиентом. "
						})
						+term({
							"desc": "Бонусами можно оплатить до 100% стоимости товара. Бонусы списываются, если клиент не совершает покупок в Юлмарте в течение шести месяцев."
						})
						+term({
							"desc": "<a class='link link--term' href='https://www.ulmart.ru/dynamic/page/qiwi-rules' target='_blank'>Все условия акции</a>"
					})

		.c-social
			.c-social__title Расскажите друзьям – <br> пусть тоже получают подарки
			.c-social__group
				a(href="https://vk.com/share.php?url=http://www.ulmart.ru/dynamic/page/ulmart_qiwi" target="_blank"): i.icon.icon--vk
				a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.ulmart.ru/dynamic/page/ulmart_qiwi" target="_blank"): i.icon.icon--fb
				a(href="https://twitter.com/home?status=http%3A//www.ulmart.ru/dynamic/page/ulmart_qiwi" target="_blank"): i.icon.icon--tw
				a(href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=http%3A//www.ulmart.ru/dynamic/page/ulmart_qiwi&st.comments={Получите 300 бонусов в подарок при оплате онлайн через QIWI кошелёк}" target="_blank"): i.icon.icon--ok
