extends ./_layout
block vars
	-
		var array = {body_class:'t-dev', layout_mod:'', title:'Вернём 10% за покупку любого ноутбука или крупной бытовой техники'}
		var ROOT = 'https://ulmart.ru'

		imgSrc = 'https://fast.ulmart.ru/ns/promokv/qiwi/'

		var SRC = './'
		// SRC = 'https://fast.ulmart.ru/ns/promokv/cobrand2/';


		var links =
			{
				"rulesDebet": "https://fast.ulmart.ru/ns/promokv/tinkoff/loyalty.pdf",
				"rulesCredit": "https://fast.ulmart.ru/ns/promokv/tinkoff/loyalty.pdf",
				"moreStop": "https://fast.ulmart.ru/ns/promokv/tinkoff/loyalty.pdf",
				"rulesAll": "http://static.tinkoff.ru/documents/promo/10ulmart.pdf ",
				"moreGlobal": ROOT,
				"goCard": "http://www.ulmart.ru/dynamic/page/ulmart_card",
			}
		var slideItems = [
			{
			"title": "Универсальные",
			"dataThumb": "1",
			},
			{
			"title": "Легкие и компактные",
			"dataThumb": "2",
			},
			{
			"title": "Игровые",
			"dataThumb": "3",
			},
			{
			"title": "Ультрабуки",
			"dataThumb": "4",
			},
			{
			"title": "Трансформеры",
			"dataThumb": "5",
			},
			{
			"title": "Бюджетные",
			"dataThumb": "6",
			}
		]
		var shopItems = [
			{
				"title": "Холодильники",
				"desc": "Indesit, LG, Bosch и другие",
				"cta": "Выбрать холодильник <br> с выгодой от 1 422 <i class=\"rub\">a</i>",
				"ctaLink": "https://www.ulmart.ru/catalog/refrigerators",
				"imgSrc": "category_1.png",
				"addClass": "",
			},
			{
				"title": "Кухонные плиты",
				"desc": "Electrolux, Bosch, Beko и другие",
				"cta": "Выбрать плиту <br> с выгодой от 629 <i class=\"rub\">a</i>",
				"ctaLink": "https://www.ulmart.ru/catalog/cookers",
				"imgSrc": "category_2.png",
				"addClass": "",
			},
			{
				"title": "Вытяжки",
				"desc": "Lex, Krona и другие",
				"cta": "Выбрать вытяжку <br> с выгодой от 329 <i class=\"rub\">a</i>",
				"ctaLink": "https://www.ulmart.ru/catalog/hoods",
				"imgSrc": "category_3.png",
				"addClass": "is-top is-left-sm",
			},
			{
				"title": "Посудомоечные машины",
				"desc": "Indesit, LG, Bosch и другие",
				"cta": "Выбрать посудомоечную машину <br> с выгодой от 1 399 <i class=\"rub\">a</i>",
				"ctaLink": "https://www.ulmart.ru/catalog/dishwashers",
				"imgSrc": "category_4.png",
				"addClass": "",
			},
			{
				"title": "Сушильные машины",
				"desc": "Electrolux, Bosch, Beko и другие",
				"cta": "Выбрать сушильную машину <br> с выгодой от 2 499 <i class=\"rub\">a</i>",
				"ctaLink": "https://www.ulmart.ru/catalog/97869",
				"imgSrc": "category_5.png",
				"addClass": "",
			},
			{
				"title": "Стиральные машины",
				"desc": "Indesit, LG, Bosch и другие",
				"cta": "Выбрать стиральную машину <br> с выгодой от 1 450 <i class=\"rub\">a</i>",
				"ctaLink": "https://www.ulmart.ru/catalog/washing_machines",
				"imgSrc": "category_6.png",
				"addClass": "",
			}
		]
		var benefitsItem = [
			{
				"title": "Оформи карту",
				"icon": SRC + 'i/i-1.svg',
				"iconClass":"icon icon--card",
			},
			{
				"title": "Выбери товар",
				"icon": SRC + 'i/i-2.svg' ,
				"iconClass":"icon icon--choose"
			},
			{
				"title": "Оплати заказ",
				"icon": SRC + 'i/i-3.png' ,
				"iconClass":"icon icon--pay",
			}
		]

	mixin shopItem(item)
		.js-tile.c-tile
			.c-tile__thumb(class=item.addClass)
				img(src="#{(item.imgSrc.length > 1) ? SRC + 'i/' + item.imgSrc : 'http://unsplash.it/300' }", alt="")
			.c-tile__header
				.c-tile__title !{item.title}
				.c-tile__desc !{item.desc}
			.c-tile__body
				a.c-btn.c-btn--primary.c-btn--arrow.c-btn--block(href=item.ctaLink target="_blank") !{item.cta}
	mixin benefitItem(item)
		.c-benefit.col.col-4-sm
			.c-benefit__icon(class=item.iconClass)
				i.icon
				img(src=item.icon, alt="")
			h3.c-benefit__title !{item.title}
			.c-benefit__desc
				block
	mixin rub
		i.rub a
block content
	//- +
	.js-topbar.l-topbar
		.l-topbar__logo
			img(src="#{SRC + './i/card-mini-alter.png'}" srcset="#{SRC + './i/card-mini@2x.png'} 2x"  alt="")

		.l-topbar__body Вернём 10% за покупку по карте
		.l-topbar__cta
			a.c-btn.c-btn--brand(href="http://www.ulmart.ru/dynamic/page/ulmart_card" target="_blank") Оформить карту
	//- ./
	//- +
	.l-promo
		.container
			.l-promo__logo
				div.c-logo
						a(href="#{ROOT}" target="_blank")
							img(src="#{SRC + 'i/header_logo.png'}" width="214" height="23" alt="")
						div.

			.l-promo__body
				h1.l-promo__title.h1 Вернём 10%  <br class="h-show-sm"> за&nbsp;покупку любого <br class="h-hide-sm"> ноутбука&nbsp;или&nbsp;крупной бытовой&nbsp;техники
				.l-promo__desc
					.c-sub-h1 При онлайн-оплате <br class="h-show-sm"> заказа банковской картой <br class="h-show-sm"> Юлмарт-Тинькофф
		.l-promo__card
			.c-card
				img.c-card__thumb(src="#{SRC + 'i/card-alter.png'}", alt="" width="759" height="457")
				//- .c-card__group
				//- 	img.c-card__front(src="#{SRC + 'i/mk-front.png'}" alt="")
				//- 	img.c-card__back(src="#{SRC + 'i/mk-back.png'}", alt="")
	//- ./
	.l-note
		.l-note__wrapper.l-container
			.c-slider
				.js-slider__list.c-slider__list
						each item,number in slideItems
							if number === 0
								- className = 'is-active'
							else
								- className = ''
							button.js-btn.c-btn.c-btn--accent.c-slider__item(type="button" data-thumb=item.dataThumb class={className}) !{item.title}
				.js-slider__thumb.c-slider__thumb
					a.is-active(href="https://www.ulmart.ru/catalog/10098155" target="_blank")
						img(src="#{SRC + 'i/category_0_1.png'}" width="532" height="436" alt="")
					a(href="https://www.ulmart.ru/catalog/10098194" target="_blank")
						img(src="#{SRC + 'i/category_0_2.png'}", alt="")
					a.tiny(href="https://www.ulmart.ru/catalog/10098135" target="_blank")
						img(src="#{SRC + 'i/category_0_3.png'}", alt="")
					a(href="https://www.ulmart.ru/catalog/10098442" target="_blank")
						img(src="#{SRC + 'i/category_0_4.png'}", alt="")
					a.tiny(href="https://www.ulmart.ru/catalog/10100742" target="_blank")
						img(src="#{SRC + 'i/category_0_5.png'}", alt="")
					a(href="https://www.ulmart.ru/catalog/10098154" target="_blank")
						img(src="#{SRC + 'i/category_0_6.png'}", alt="")
		.l-note__cta
			a#note-cta.c-btn.c-btn--primary.c-btn--arrow(href="https://www.ulmart.ru/catalog/10098155" target="_blank").
				Выбрать универсальный ноутбук <br>
				с выгодой <strong>от 1 649 <i class="rub">a</i></strong>

	.l-tiles
		.l-container.h-no-padding
				//- .l-tiles__wrapper
				.row
				each item in shopItems
					.col.col-6-sm
						+shopItem(item)
		.l-tiles__cta
			a.c-btn.c-btn--brand.c-btn--brand-invert(href="https://www.ulmart.ru/catalog/kbt" target="_blank") Посмотреть все товары

	.l-benefits
		h2.l-benefits__title.h1 Участвуй в акции
		.l-benefits__list
			.row
				+benefitItem(benefitsItem[0])
					| Оформи кредитную или дебетовую <br> карту Юлмарт-Тинькофф #[a.link(href="https://www.ulmart.ru/dynamic/page/ulmart_card" target="_blank") здесь]
				+benefitItem(benefitsItem[1])
					| Пока ждёшь курьера, авторизуйся <br> на&nbsp;#[a.link(href=ROOT target="_blank") ulmart.ru] и выбери товары по акции
				+benefitItem(benefitsItem[2])
					| Оформи заказ и&nbsp;оплати онлайн на&nbsp;сайте <br> картой Юлмарт-Тинькофф

		//- .l-benefits__desc
		//- 	h3 10% покупки вернётся бонусными баллами банка
		//- 	div.light #[strong 1 бонусный балл = 1 рубль.] Акция действует с 1 по 30 ноября 2016 года.

	.c-curve
		img(src="#{SRC +'i/curv-left.png'}", alt="")
		img(src="#{SRC +'i/curv-right.png'}", alt="")

	.wrapper
		.l-cta
			h3.l-cta__title.h1 10% вернётся на карту <br> до&nbsp;23 декабря 2016 года
			.l-cta__desc Покупай новогодние подарки в Юлмарте и используй бонусные баллы!

		.l-terms
			.l-container
				h2.l-terms__title.h2 Условия акции
				.row.l-terms__desc
					.col.col-6-sm
						p Акция действует с 1 ноября по 30 ноября 2016 года только для физических лиц, зарегистрированных на&nbsp;сайте Юлмарта, держателей кредитной или&nbsp;дебетовой карты «Юлмарт-Тинькофф».


						div 10% от суммы покупки начисляется бонусными баллами банка на карту в&nbsp;следующем порядке:
						ul
							li на кредитную карту: 3% в&nbsp;дату первой выписки по&nbsp;карте, согласно  #[a.link.h-nowrap(href=links.rulesCredit target="_blank") правилам программы «Юлмарт-Тинькофф»], <br>7% – до&nbsp;23&nbsp;декабря&nbsp;2016 года.
							li на дебетовую карту: 2% в&nbsp;дату первой выписки по&nbsp;карте, согласно #[a.link.h-nowrap(href=links.rulesDebet target="_blank") правилам программы «Юлмарт-Тинькофф»], <br>8% – до&nbsp;23&nbsp;декабря&nbsp;2016 года;
						p Один бонусный балл равен одному рублю.
					.col.col-6-sm
						p По одной карте «Юлмарт-Тинькофф» можно получить максимум 6 000 бонусных баллов в&nbsp;месяц. #[a.link(href=links.moreStop target="_blank") Подробнее] 
						p Возвращается 10% от суммы, фактически оплаченной на&nbsp;сайте #[a.link(href=ROOT target="_blank") ulmart.ru] картой «Юлмарт-Тинькофф» за&nbsp;товар, участвующий в&nbsp;акции.
						p Принять участие в акции можно неограниченное количество раз.
						p
							a.link(href=links.rulesAll target="_blank") Все условия акции

	.l-footer
		.l-container
			.l-footer__cta
				a.c-btn.c-btn--brand(href=links.goCard target="_blank") Оформить карту #[span.h-hide-sm Юлмарт-Тинькофф]

			.c-social
				.c-social__title Расскажи друзьям – <br> пусть тоже получают подарки
				.c-social__group
					a.c-social__link(href="https://vk.com/share.php?url=http://www.ulmart.ru/dynamic/page/tinkoff_promo" target="_blank")
						// i.icon.icon--vk
						include ../i/i-vk.svg
					a.c-social__link(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.ulmart.ru/dynamic/page/tinkoff_promo" target="_blank")
						//- i.icon.icon--fb
						include ../i/i-fb.svg
					a.c-social__link(href="https://twitter.com/home?status=http%3A//www.ulmart.ru/dynamic/page/tinkoff_promo" target="_blank")
						//- i.icon.icon--tw
						include ../i/i-tw.svg
					a.c-social__link(href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=http%3A//www.ulmart.ru/dynamic/page/tinkoff_promo&st.comments={Вернём 10% за покупку ноутбука или крупной бытовой техники в ноябре. Оформи карту и оплати заказ онлайн!}" target="_blank")
						//- : i.icon.icon--ok
						include ../i/i-ok.svg
