link(rel="apple-touch-icon", sizes="57x57", href="#{SRC + 'i/favicon/apple-icon-57x57.png'}")
link(rel="apple-touch-icon", sizes="60x60", href="#{SRC + 'i/favicon/apple-icon-60x60.png'}")
link(rel="apple-touch-icon", sizes="72x72", href="#{SRC + 'i/favicon/apple-icon-72x72.png'}")
link(rel="apple-touch-icon", sizes="76x76", href="#{SRC + 'i/favicon/apple-icon-76x76.png'}")
link(rel="apple-touch-icon", sizes="114x114", href="#{SRC + 'i/favicon/apple-icon-114x114.png'}")
link(rel="apple-touch-icon", sizes="120x120", href="#{SRC + 'i/favicon/apple-icon-120x120.png'}")
link(rel="apple-touch-icon", sizes="144x144", href="#{SRC + 'i/favicon/apple-icon-144x144.png'}")
link(rel="apple-touch-icon", sizes="152x152", href="#{SRC + 'i/favicon/apple-icon-152x152.png'}")
link(rel="apple-touch-icon", sizes="180x180", href="#{SRC + 'i/favicon/apple-icon-180x180.png'}")
link(rel="icon", type="image/png", sizes="192x192", href="#{SRC + 'i/favicon/android-icon-192x192.png'}")
link(rel="icon", type="image/png", sizes="32x32", href="#{SRC + 'i/favicon/favicon-32x32.png'}")
link(rel="icon", type="image/png", sizes="96x96", href="#{SRC + 'i/favicon/favicon-96x96.png'}")
link(rel="icon", type="image/png", sizes="16x16", href="#{SRC + 'i/favicon/favicon-16x16.png'}")
link(rel="manifest", href="#{SRC + 'i/favicon/manifest.json'}")
meta(name="msapplication-TileColor", content="#68aa82")
meta(name="msapplication-TileImage", content="#{SRC + 'i/favicon/ms-icon-144x144.png'}")
meta(name="theme-color", content="#68aa82")



