meta(charset="UTF-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- meta(name="viewport" content="width=1200")

//- Open Graph
//- Fill you need fb control
//- meta(property='fb:app_id', content='')
//- meta(property='fb:admins', content='')
meta(property='og:site_name', content='Ulmart')
meta(property='og:title', content='Банковская карта «Юлмарт-Тинькофф»')
meta(property='og:description', content='Вернём 10% за покупку ноутбука или крупной бытовой техники в ноябре. Оформи карту и оплати заказ онлайн!')
meta(property='og:type', content='website')
meta(property='og:image', content='https://fast.ulmart.ru/ns/promokv/cobrand2/i/og-fb.png')
meta(property='og:image:type', content='image/png')
meta(property='og:image:width', content='475')
meta(property='og:image:height', content='250')


meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:title" content="Вернём 10% за покупку любого ноутбука или крупной бытовой техники")
meta(property="twitter:description" content="При онлайн-оплате заказа банковской картой «Юлмарт-Тинькофф»")

meta(property="twitter:image" content="https://fast.ulmart.ru/ns/promokv/cobrand2/i/og-tw.png")
meta(property="twitter:image:width" content="506")
meta(property="twitter:image:height" content="254")
//- ./ Open Graph
title=array.title
link(rel="shortcut icon" href="#{SRC + 'i/favicon.ico'}" type="image/x-icon")
link(rel="icon" href="#{SRC + 'i/favicon.ico'}" type="image/x-icon")
link(rel="stylesheet", href="#{SRC + 'style/critical.css'}")


include ./_favicon
