<style>
  h1, h2 {
    font-weight: 600 !important;
  }
</style>

<h1 style="text-align:center;"> Правила акции  <br>
«Оплати заказ онлайн на Юлмарте через QIWI-кошелёк и получи 300 бонусов в подарок!» </h1>

<h2 class="main-h3">Общие положения</h2>
<p>Настоящие правила регламентируют порядок организации и проведения акции «Оплати заказ онлайн на Юлмарте через QIWI-кошелёк и получи 300 бонусов в подарок!» (далее – Акция).
Цель Акции – стимулирование онлайн-оплаты заказов на сайте <a href="https://www.ulmart.ru">www.ulmart.ru</a>  Организатором Акции.</p> <br><br>

<ul>
  <li>1.  QIWI – электронная платежная система (далее – QIWI).</li>
  <li>2.  QIWI-кошелёк – Visa QIWI Wallet, электронный кошелёк, основанный на предоплаченном счете Visa.</li>
  <li>3.  Сайт – интернет-сайт <a href="https://www.ulmart.ru">www.ulmart.ru</a>.</li>
  <li>4.  Клиент – зарегистрированный покупатель Сайта.</li>
  <li>5.  Бонусы – XXL-бонусы Юлмарта, <a href="https://www.ulmart.ru/help/spb/partner_program">подробнее</a>.</li>
  <li>6.  Бонусный счёт – внутренний виртуальный счёт Клиента, на который зачисляются Бонусы от покупок на Сайте.</li>
  <li>7.  Расчётный период – календарный месяц. Общий срок проведения акции состоит из 5 (пяти) Расчётных периодов.</li>
  <li>8.  Территория проведения Акции – Российская Федерация.</li>
</ul>

<h2 class="main-h3">Организатор Акции</h2>
<p>Организатором Акции является Общество с ограниченной ответственностью «Юлмарт РСК» Юридический адрес 197227, г. Санкт-Петербург, проспект Сизова, д. 2, лит. А Е-mail: <a href="mailto:office@ulmart.ru">office@ulmart.ru</a>, ОГРН 1117847607900, ИНН  7814522256 (далее – Организатор).</p>

<h2>Участники Акции, их права и обязанности</h2>
<ul>
  <li>2.1. Участником Акции (далее — Участник) может стать любое дееспособное физическое лицо, достигшее возраста 18 лет и являющееся гражданином Российской Федерации, зарегистрированное на Сайте и совершившее действия, указанные в настоящих Правилах.</li>
  <li>2.2. Каждый Участник имеет право принять участие в Акции только один раз в течение срока ее проведения.</li>
  <li>2.3. Все Участники Акции самостоятельно оплачивают все расходы, понесённые ими в связи с участием в Акции.</li>
  <li>2.4. Участники имеют права и несут обязательства, установленные действующим законодательством Российской Федерации, а также настоящими Правилами.</li>
  <li>2.5. Совершение Участником действий, предусмотренных настоящими Правилами Акции, означает его согласие с настоящими Правилами и условиями проведения Акции.</li>
  <li>2.6. Участники соглашаются с Правилами использования Бонусов, размещенными в соответствующем разделе на Сайте.</li>
</ul>


<h2 class="main-h3">Права и обязанности Организатора</h2>
<ul>
  <li>
    3.1. Организатор имеет право исключить из состава Участников следующих лиц:
    <ul>
      <li>• Участников, не соответствующих требованиям, предусмотренным п. 2.1 настоящих Правил;</li>
      <li>• Участников, нарушивших положения настоящих Правил.</li>
    </ul>
  </li>
  <li>3.2. Организатор имеет право признать недействительными действия Участников Акции, несоответствующие данным Правилам, а также запретить дальнейшее участие в Акции любому лицу, в отношении которого у Организатора возникли обоснованные подозрения в том, что оно подделывает данные или извлекает выгоду из любой подделки данных, необходимых для участия в Акции.</li>
  <li>3.3. Организатор имеет право отказать в начислении Бонусов тем Участникам, которые действовали в нарушение условий Акции и настоящих Правил.</li>
  <li>3.4. Организатор Акции пользуется всеми правами, предусмотренными настоящими Правилами и действующим законодательством РФ.</li>
  <li>3.5. Организатор оставляет за собой право на своё усмотрение в одностороннем порядке прекратить, изменить или приостановить проведение Акции при условии размещения соответствующего уведомления на сайте <a href="https://www.ulmart.ru">www.ulmart.ru</a> не менее чем за 1 (один) календарный день до такого прекращения, изменения или приостановления.</li>
  <li>3.6. Организатор оставляет за собой право не вступать в письменные переговоры либо иные контакты с Участниками, кроме случаев, предусмотренных настоящими Правилами и действующим законодательством Российской Федерации.</li>
</ul>

<h2 class="main-h3">Сроки проведения Акции</h2>

<ul>
  <li>4.1. Общий срок проведения Акции: с 3 октября 2016 года по 3 ноября 2016 года.</li>
</ul>

<h2 class="main-h3">Порядок участия в Акции</h2>
<ul>
<li>5.1. Для того чтобы стать Участником Акции, лицу, соответствующему требованиям, указанным в п. 2.1 настоящих Правил, необходимо совершить следующие действия:</li>
<li>
  <ul>
    <li>5.1.1. Зарегистрироваться на Сайте Организатора (для незарегистрированных пользователей).</li>
    <li>5.1.2. Зарегистрировать QIWI-кошелёк не позднее 3.10.2016. </li>
    <li>
      5.1.2. Будучи авторизованным на Сайте в срок, указанный в п. 4.1:
      <ul>
        <li>- оформить заказ на Сайте на сумму 2 500 рублей и более, а именно: выбрать товары на Сайте, добавить в Корзину, выбрать способ получения и нажать кнопку «Оформить заказ»,</li>
        <li>- оплатить заказ онлайн через QIWI-кошелёк и получить заказ.</li>
      </ul>
    </li>
    <li>
      5.1.3 Товар, приобретаемый Участником в рамках Акции, должен быть предназначен для лично-бытового использования.
    </li>
    <li>5.1.4. В случае возврата товара, в том числе, на выдаче или через гарантийный отдел, Бонусы, начисленные за возвращаемый товар, списываются с Бонусного счета.</li>
    <li>5.1.5. Бонусы нельзя использовать при покупке в кредит.</li>
  </ul>
</li>

<li>5.2. 300 Бонусов, начисляется одному Участнику Акции или на один QIWI-кошелёк (если QIWI-кошелёк используется несколькими Участниками) при соблюдении условия в
п 5.1.2 и в срок действия Акции.</li>


<li>
  5.3. Начисление Бонусов за покупку товаров осуществляется Организатором через 30 (тридцать) рабочих дней с момента получения заказа Участником.
</li>
<li>5.4. Бонусы начисляются в личный кабинет Участника на Сайте и суммируются с Бонусами, которые уже содержатся в личном кабинете Участника на момент начисления.</li>
<li>5.5. Бонусы могут быть потрачены при покупке товаров на Сайте, за исключением цифрового контента из категории «Книги и музыка», отелей и страховок в разделе www.sindbad.ulmart.ru. Бонусами можно оплатить как часть заказа, так и весь заказ целиком, при этом 1 (один) Бонус эквивалентен 1 (одному) рублю.</li>
<li>5.6. Участник должен ознакомиться с общими условиями получения и использования Бонусов и соблюдать правила безопасности для сохранения целостности личного кабинета.</li>
<li>5.7. Совершение действий, прописанных в п. 5 настоящих Правил, является акцептом договора на участие в настоящей Акции со стороны Участника Акции.</li>

</ul>

<h2 class="main-h3">Заключительные положения</h2>
<ul>
  <li>6.1. Порядок проведения Акции, настоящие Правила, а также любая деятельность, связанная с Акцией, регулируются законодательством РФ.</li>
  <li>6.2. Организатор вправе в любое время вносить изменения в настоящие Правила в одностороннем порядке. Организатор обязан уведомить потребителей об изменениях в Правилах на Сайте в соответствии с п. 3.5 настоящих Правил.</li>
  <li>6.3. Организатор не несет ответственности за невозможность участия в Акции вследствие некорректного проведения платёжных операций между банком-эмитентом и банком-эквайером, аварий, ремонтных и/или профилактических работ, проводимых платёжным партнёром или провайдером сети интернет, неработоспособности оборудования Участника и иных не зависящих от Организатора причин, а также обстоятельств непреодолимой силы.</li>
  <li>6.4. Данные Правила являются единственными официальными правилами участия в Акции.</li>
  <li>6.5. Информация о проведении Акции доводится Организатором до Участников посредством Сайта. Организатор Акции вправе использовать дополнительные, не указанные в настоящих Правилах, средства доведения до Участников предложения об участии в проводимой Акции, сопровождающегося кратким изложением условий ее проведения и иной рекламной информации.</li>
</ul>

<div style="padding-top:20px;"><a href="http://www.ulmart.ru/dynamic/page/ulmart_qiwi">← Вернуться на страницу акции</a>
</div>












